.ratingsPageContainer {
	width: 800px;
	margin: 0 auto;
}

.ratingsPageContainer h4 {
	margin: 40px 0;
}

.ratingsContainer {
	width: 628px;
	margin-bottom: 40px;
}

.ratingsContainer > .emailText {
	font-size: var(--fs-500);
	font-weight: var(--fw-semi-bold);
}

.ratingsContainer > .reviewText {
	margin-top: 16px;
}

.filledStar {
	color: gold; /* You can use any color you prefer for filled stars */
}

.emptyStar {
	color: gray; /* Color for unfilled stars */
}
