.pageContainer {
	width: 1360px;
	margin: 0 auto;
}

.pageContainer h4 {
	margin: 20px 0;
}

.pageContainer button {
	padding: 8px 12px;
}

.searchContainer {
	display: flex;
	justify-content: space-between;
}

.searchContainer input {
	height: 100%;
	margin-right: 0.5em;
	border-radius: 12px;
	padding-left: 8px;
	border: 1px solid #767676;
	background-color: #d9d9d9;
}

.listingContainer {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.listingCard {
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	border: 1px solid hsl(240 5.9% 90%);
	width: 420px;
	margin-bottom: 20px;
	/* background-color: var(--background-color); */
	/* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); */
}

.listingCard img {
	object-fit: cover;
	border-radius: 12px 12px 0 0;
	width: 100%;
	height: 220px;
}

.listingDetails {
	padding: 0 16px 16px 16px;
	white-space: normal; /* Make sure text can wrap */
}

.listingDetails > p {
	margin-top: 4px;
}

.listingDetails .listingTitle {
	font-size: 18px;
	font-weight: var(--fw-semi-bold);
}

.buttonContainer {
	display: flex;
	margin-top: 4px;
	width: 100%;
}

.buttonContainer > button {
	min-width: 80px;
	margin-right: 24px;
}

.wrap {
	display: inline-block;
	word-break: break-all;
}

.listingPrice {
	font-size: 24px;
	font-weight: var(--fw-bold);
}
