/* Header.css */
.admin-header {
	background-color: var(--background-color);
	min-width: 1024px;
	padding: 0.75em 5.5em;
	border-bottom: 1px solid #ddd;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.admin-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 1024px;
}

.admin-header .logo a {
	font-size: 1.5em;
	font-weight: bold;
	color: #e4002b;
	text-decoration: none;
}

.admin-nav-items {
	display: flex;
}

.admin-nav-items a {
	text-decoration: none;
	color: var(--text-color);
	margin-left: 2em;
}
