.userAdminContainer {
	display: grid;
	min-width: 1048px;
	width: 55%;
	margin: 0px 88px;
	margin: auto;
	padding-top: 2.5rem;
	position: relative;
}

.searchBarContainer {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
}

.searchBarContainer button {
	background-color: #0032e4;

	font-weight: var(--fw-bold);
	color: var(--background-color);
	padding: 10px 12px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

.searchBarContainer button:hover {
	background-color: #564ab8;
}

.searchBarContainer input {
	margin-right: 0.5em;
	height: 100%;
	border-radius: 12px;
	padding-left: 8px;
	border: 1px solid #767676;
	background-color: #d9d9d9;
}

.userTable {
	display: grid;
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	background-color: var(--primary-a1-color);
}

.tableHeader,
.tableRow {
	display: grid;
	grid-template-columns: 140px 380px 150px 150px auto;
	gap: 10px;
	padding: 10px 24px;
}

.tableHeader {
	font-weight: var(--fw-bold);
	border-radius: 12px 12px 0px 0px;
	background-color: var(--secondary-color);
	background-color: #d9d9d9;
}

.tableRow {
	border-top: 1px solid #d9d9d9;
	padding: 1em 1.5em;
}

.tableRow > div {
	display: flex;
	align-items: center;
	justify-content: start;
}

.tableRow button {
	padding: 12px 10px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(10px);
	z-index: 10;
}

/* Centering the CreateUser component */
.userFormContainer {
	display: flex;
	flex-direction: column;
	width: 360px;
	z-index: 13;
	padding: 20px 40px;
	height: 450px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff4f6;
	box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 8px;
}

.userFormHeader {
	display: flex;
	align-items: center;
	padding-bottom: 8px;
}

.userFormHeader button {
	background-color: #0032e4;
	font-weight: var(--fw-bold);
	color: var(--background-color);
	border: none;
	padding: 0.25em 0.5em;
	border-radius: 10px;
	cursor: pointer;
	margin-left: auto;
}

.userFormHeader button:hover {
	background-color: #564ab8;
}

.createUserForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 8px;
	height: 100%;
}

.userInputContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 16px;
}

.userInputContainer input {
	height: 36px;
	border-radius: 10px;
	border: 1px solid #0909096b;
	padding-left: 8px;
}

.userInputContainer select {
	height: 36px;
	border-radius: 10px;
	border: 1px solid #0909096b;
	background-color: white;
	padding-left: 8px;
}

.userAdminContainer .error {
	color: red;
	width: 100%;
	height: 16px;
	text-align: left;
}

.submitCreateUser {
	margin-top: 50px;
	background-color: var(--primary-color);
	color: var(--background-color);
	font-weight: var(--fw-bold);
	border: none;
	cursor: pointer;
	border-radius: 12px;
	padding: 10px 12px;
}

.submitCreateUser:hover {
	background-color: #d10027;
}
