.userAdminContainer {
	display: grid;
	min-width: 1048px;
	width: 55%;
	margin: 0px 88px;
	margin: auto;
	padding-top: 2.5rem;
	position: relative;
}

#searchBarContainer {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
}

#searchBarContainer button {
	background-color: #0032e4;

	font-weight: var(--fw-bold);
	color: var(--background-color);
	padding: 10px 12px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

#searchBarContainer button:hover {
	background-color: #564ab8;
}

#searchUser {
	margin-right: 0.5em;
	height: 100%;
	border-radius: 12px;
	padding-left: 8px;
	border: 1px solid #767676;
	background-color: #d9d9d9;
}

.userTable {
	display: grid;
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	background-color: var(--primary-a1-color);
}

.tableHeader,
.tableRow {
	display: grid;
	grid-template-columns: 140px 400px 150px 150px auto;
	gap: 10px;
	padding: 10px 24px;
}

.tableHeader {
	font-weight: var(--fw-bold);
	border-radius: 12px 12px 0px 0px;
	background-color: var(--secondary-color);
	background-color: #d9d9d9;
}

.tableRow {
	border-top: 1px solid #d9d9d9;
	padding: 1em 1.5em;
}

.tableRow > div {
	display: flex;
	align-items: center;
	justify-content: start;
}

.tableRow button {
	padding: 12px 10px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(10px);
	z-index: 10;
}

/* Centering the CreateUser component */
.userFormContainer {
	display: flex;
	flex-direction: column;
	z-index: 13;
	padding: 1.5em 1em;
	height: 500px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e9e9e9;
}

.userFormHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.userFormHeader button {
	background-color: #0032e4;

	font-weight: var(--fw-bold);
	color: var(--background-color);
	border: none;
	padding: 0.25em 0.5em;
	border-radius: 10px;
	cursor: pointer;
}

.userFormHeader button:hover {
	background-color: #564ab8;
}

.createUserForm {
	width: 100%;
	height: 100%;
	display: grid;
	row-gap: 4px;
	padding-top: 1em;
}

.userInputContainer {
	display: grid;
	grid-template-columns: 30% 70%;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	position: relative;
}

.userInputContainer span {
	margin-top: 8px;
}

.userInputContainer input {
	height: 36px;
	border-radius: 10px;
	border: 1px solid #0909096b;
	padding-left: 8px;
	margin-top: 4px;
}

.error {
	color: red;
	font-size: 0.8em;
	/* margin-bottom: 4px; */
	display: block;
	top: -18px; /* Adjust to control vertical positioning */
	left: 0;
	width: 100%;
	text-align: left;
}

#submitCreateUser {
	margin-top: auto;
	background-color: var(--primary-color);
	color: var(--background-color);
	font-weight: var(--fw-bold);
	border: none;
	cursor: pointer;
	border-radius: 12px;
	padding: 10px 12px;
}

#submitCreateUser:hover {
	background-color: #d10027;
}
