/* ViewUserAccount.module.css */
.backButton {
	margin-left: 88px;
	margin-top: 12px;
	cursor: pointer;
}

.backButton:hover {
	color: var(--p1-color);
}

.card {
	width: 420px;
	height: 635px;
	padding: 24px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background-color: #fff4f6;
	box-shadow: rgba(0, 0, 0, 0.15) 0 4px 8px;
}

.card h4 {
	margin: 0 auto;
}

.userDetailsContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.userDetails {
	margin-bottom: 20px;
}

.userDetails > div {
	padding-left: 8px;
	width: 256px;
	height: 35px;
	border: 1px solid #d9d9d9;
	background-color: var(--background-color);
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.7);
	align-content: center;
}

.card button {
	width: 256px;
	height: 42px;
	margin: 0 auto;
}

.editButton {
	background-color: #9747ff;
	margin-top: 40px;
}

.editButton:hover {
	background-color: #564ab8;
}

.userDetails input {
	padding-left: 8px;
	display: block;
	width: 256px;
	height: 35px;
	border: 1px solid #d9d9d9;
	background-color: white;
	border-radius: 5px;
	align-content: center;
}

.userDetails select {
	padding-left: 8px;
	display: block;
	width: 256px;
	height: 35px;
	border: 1px solid #d9d9d9;
	background-color: white;
	border-radius: 5px;
	align-content: center;
}

.userDetailsContainer .submitButton {
	margin-top: 16px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(10px);
	z-index: 10;
}

.deleteCard {
	display: flex;
	padding: 16px 24px;
	flex-direction: column;
	justify-content: center;
	width: 360px;
	height: 140px;
	z-index: 13;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color: #fff4f6;
	box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 8px;
}

.deleteCard p {
	font-size: 1.25rem;
	text-align: center;
	font-weight: var(--fw-semi-bold);
}

.buttonFlexbox {
	display: flex;
	width: 100%;
	margin-top: 12px;
	justify-content: space-around;
}

.buttonFlexbox button {
	height: 32px;
	width: 80px;
	border-radius: 5px;
}

.noButton {
	background-color: #9747ff;
}

.noButton:hover {
	background-color: #564ab8;
}

.error {
	display: block;
	color: red;
	font-size: 14px;
	text-align: center;
	margin: auto;
}

.success {
	display: block;
	color: green;
	font-size: 14px;
	text-align: center;
	margin: auto;
}
