/* MainPage.css */

.landing-page-container {
	width: 1360px;
	/* padding: 0 88px; */
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 80px 0px;
}

.landing-page-container h1 {
	font-size: 64px;
	margin-bottom: 24px;
}

.landing-page-container img {
	width: 440px;
	height: 500px;
	border-radius: 30px;
	object-fit: cover;
}

.landing-page-container .logo {
	display: block;
	background: var(--primary-color);
	background: var(--primary-gradient-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-section-text-container {
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 540px;
	height: fit-content;
}

.hero-section-text-container p {
	font-size: var(--fs-500);
}

.hero-section-text-container button {
	font-size: var(--fs-600);
	height: 56px;
	width: 160px;
	margin-top: 40px;
}

.unAuthContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1048px;
	margin: 40px auto;
}

.goHomeButton {
	padding: 8px;
	margin-top: 8px;
}
