/* MainPage.css */

.landing-page-container {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 40px 280px;
}

.landing-page-container img {
	width: 490px;
	height: 70vh;
	border-radius: 30px;
	object-fit: cover;
}

.hero-section-text-container {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 500px;
	margin-right: auto;
	height: fit-content;
}

.hero-section-text-container p {
	font-size: var(--fs-500);
}

.hero-section-text-container button {
	font-size: var(--fs-600);
	height: 56px;
	width: 160px;
	margin-top: 40px;
}
