.userAdminContainer {
	margin: 0px 88px;
	padding-top: 2.5rem;
	position: relative;
}

#searchBarContainer {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
}

.userTable {
	width: 100%;
	display: grid;
	gap: 10px;
	border: 1px solid #d9d9d9;
	border-radius: 12px;

	background-color: var(--primary-a1-color);
}

.tableHeader,
.tableRow {
	display: grid;
	grid-template-columns: 9% 30% 30% 8.5% 8.5% 14.5%;
	gap: 10px;
	padding: 10px 24px;
}

.tableHeader {
	font-weight: var(--fw-bold);
}

.tableRow {
	border-top: 1px solid #d9d9d9;
}

.tableRow > div {
	display: flex;
	align-items: center;
	justify-content: start;
}

.tableRow button {
	background-color: var(--primary-color);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: rgba(100, 100, 100, 0.1);*/
	backdrop-filter: blur(8px); /* Blur effect */
	z-index: 10; /* Ensure it is above other content */
}

/* Centering the CreateUser component */

.userFormContainer {
	z-index: 11;
	padding: 0.5em 1em;
	width: 20%;
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	margin: auto;
	position: absolute;
	top: 50%; /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%); /* Adjust to perfectly center */
	background-color: var(--primary-a1-color);
	background-color: rgb(233, 233, 233);
	padding-bottom: 1em;
}

.createUserForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.createUserForm > div {
	display: grid;
	grid-template-columns: 30% 70%;
	justify-content: space-between;
	padding-top: 1em;
}

#submitCreateUser {
	margin-top: 1em;
}
